@charset "UTF-8";
/* CSS Document */
body{
	background-image:url(../images/interiorbgimg3.png);
	background-position: center top;
	background-repeat:no-repeat;
	background-color:#f8c45b;
	}

#rightcolumn ul li {
	text-transform:none; 
	color:#6f562a;
	list-style-type:disc;
	margin-left:-20px;
	margin-bottom:20px;}
#leftcolumn h2, div#rightcolumn h3 {
	color:#2d1d0f;
	font-size:50px;
	font-weight:bold;
	text-transform:lowercase;
	margin:50px 0 0 0;}

div#rightcolumn, div#leftcolumn {margin-top:10px;}

/*div#rightcolumn h3, div#leftcolumn h3 {font-size:30px; margin:15px 0 10px 0; font-size:25px; text-transform:uppercase;}*/
ul {margin:0;}
div#leftcolumn ul {margin-bottom:30px;}
div#leftcolumn ul li {text-transform:lowercase;}
div#rightcolumn {margin-bottom:40px;}
div#leftcolumn ul.sponsors li {font-size:25px;
	text-transform:none;
	margin-bottom:10px;
	}
div#leftcolumn ul.sponsors {margin-top:50px;}

div#rightcolumn h4, div#leftcolumn h4 {
	font-size:30px;
	text-transform:none;
	}