@charset "UTF-8";
/* CSS Document */
body{
	background-image:url(../images/interiorbgimg3.png);
	background-position: center top;
	background-repeat:no-repeat;
	background-color:#f8c45b;
	}

div#rightcolumn, div#leftcolumn {
	margin-top:0;}

div#rightcolumn h1, div#leftcolumn h1, div#rightcolumn h2, div#leftcolumn h2, div#rightcolumn h3, div#leftcolumn h3, div#rightcolumn h4, div#leftcolumn h4 {
	font-size:40px;
	text-transform:lowercase;
	margin:20px 0 10px 0;
	}
	
div#rightcolumn ul li, div#leftcolumn ul li {
	text-transform:lowercase;
	margin:0 0 10px 20px;
	}
div#rightcolumn ul, div#leftcolumn ul {
	margin-bottom:20px;}
h5 {
	font-size:20px;
	text-transform:uppercase;
	margin:0 0 7px 0;}
div#leftcolumn ul.sponsors li {text-transform:none;font-size:22px;}
